---
title: Ketan Parmar
sitemap: 
    priority: 0.7
    exclude_from_search: true 
    changefreq: monthly 
    lastmod: 2014-02-24T12:33:30-05:00 
---
<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>

    {% if page.title %}

    <meta content="{{ page.title }}" property="og:title">
    <meta content="{{ page.title }}" name="twitter:title">{% elsif page.grouptype == "tag" %}

    <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" property="og:title">
    <meta content="Posts Tagged “{{ page.tag }}” &ndash; {{ site.title }}" name="twitter:title">{% elsif page.grouptype == "category" %}

    <meta content="Posts Categorized “{{ page.category | titlecase }}” &ndash; {{ site.title }}" property="og:title">
    <meta content="Posts Categorized “{{ page.category | titlecase }}” &ndash; {{ site.title }}" name="twitter:title">{% else %}

    <meta content="{{ site.title }}" property="og:title">
    <meta content="{{ site.title }}" name="twitter:title">{% endif %}
    <meta content="{{ site.title }}" property="og:site_name">{% if page.summary %}
    <meta content="{{ page.summary }}" name="description">
    <meta content="{{ page.summary }}" property="og:description">
    <meta content="{{ page.summary }}" name="twitter:description">{% else %}
    <meta content="{{ site.description }}" name="description">
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.description }}" name="twitter:description">{% endif %}


    <meta name="Author" content="Ketan Parmr" />
    <link href="https://plus.google.com/+KetanParmar/posts" rel="author">
    <meta content="@kpbird" name="twitter:site">
    <meta content="@kpbird" name="twitter:creator">

    <link href="/atom.xml" rel="alternate" title="Atom" type="application/atom+xml">
    <link href="/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">{% if page.title %}
    <meta content="article" property="og:type">{% else %}
    <meta content="website" property="og:type">{% endif %}
    <meta content="summary" name="twitter:card">{% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <meta content="{{ site.url }}{{ page.url }}" name="twitter:url">{% endif %} {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/index.html#about" property="article:author">{% endif %} {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/assets/images/posts/{{ page.image }}">
    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/posts/{{ page.image }}">{% else %}
    <meta property="og:image" content="{{ site.url }}/assets/images/preview/content/people/1.jpg">
    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/preview/content/people/1.jpg">{% endif %} {% if page.categories %} {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}">{% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">{% endfor %} {% endif %}
    <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/plugins/lt-ie9/html5.js"></script>
        <script type="text/javascript" src="assets/plugins/lt-ie9/respond.min.js"></script>
        <script type="text/javascript" src="assets/plugins/lt-ie9/excanvas.compiled.js"></script>
        <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,800|Dosis:300,400" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-linecons/linecons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/superslides.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/framework.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/typography.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/blog.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/color/blue.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/syntax.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>
</head>

<body>
    <section id="home" class="half-screen">
        <div id="slider">
            <nav class="slides-navigation">
                <a class="prev" href="#"></a>
                <a class="next" href="#"></a>
            </nav>
            <ul class="slides-container">
                <li>
                    <div class="image-caption">
                        <hr />
                        <div class="inner">
                            <h2 class="bigtext strtoupper nomargin">Ketan Parmar (KP Bird)</h2>
                        </div>
                        <hr />
                    </div>
                    <span class="overlay"></span>
                    <div style="background-image: url('assets/images/preview/slider/kpbird.png');" class="fullscreen-img"></div>
                </li>
                <li>
                    <div class="image-caption">
                        <hr />
                        <div class="inner">
                            <h1 class="bigtext strtoupper nomargin">Curiosity</h1>
                            <p>Why . What . How</p>                            
                        </div>
                        <hr />
                    </div>
                    <span class="overlay"></span>
                    <div style="background-image: url('assets/images/preview/slider/curiosity.png');" class="fullscreen-img"></div>
                </li>
                <li>
                    <div class="image-caption">
                        <hr />
                        <div class="inner">
                            <h2 class="strtoupper nomargin">Creative</h2>
                            <p>Imagination . Innovation . Implementation</p>
                        </div>
                        <hr />
                    </div>
                    <span class="overlay"></span>
                    <div style="background-image: url('assets/images/preview/slider/creative.png');" class="fullscreen-img"></div>
                </li>
                <li>
                    <div class="image-caption">
                        <hr />
                        <div class="inner">
                            <h2 class="strtoupper nomargin">Passionate</h2>
                            <p>Purpose . Life . Addiction</p>
                        </div>
                        <hr />
                    </div>
                    <span class="overlay"></span>
                    <div style="background-image: url('assets/images/preview/slider/passionate.png');" class="fullscreen-img"></div>
                </li>
            </ul>
        </div>
    </section>
    <header id="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand scrollTo" href="#home">
                        <span class="">Ketan Parmar</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right ">
                        <li><a href="#home" class="scrollTo">Home</a>
                        </li>
                        <li><a href="#about" class="scrollTo">About</a>
                        </li>
                        <li><a href="#skills" class="scrollTo">Skills</a>
                        </li>
                        <li><a href="#contact" class="scrollTo">Contact</a>
                        <li><a href="http://kpbird.blogspot.com" target="_blank">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="about">
        <div class="container">
            <header class="text-center">
                <h1>ABOUT ME</h1>
            </header>
            <div class="divider">
            </div>
            <article class="text-center big-paragraph">
                <p>I'm</p>
                <p>Programmer | Consultant | Solution Architecture | Speaker | Blogger </p>
                <p>Java Enthusiast | Android Lover | Cloud Expert | Technology Geek</p>
            </article>
            <div class="me-picture text-center">
                <div class="item">
                    <img class="img-responsive" src="assets/images/preview/content/people/1.jpg" width="200" height="200" alt="Ketan PArmar" />
                </div>
                <hr />
            </div>
            <article>
                <div class="row text-center">
                    <div class="col-md-4">
                        <h3>Curiosity</h3>
                        <p>Curiosity helps us learn. It makes mind active. It helps to observe new ideas. It opens up new worlds and possibilities. It brings excitement into your life. Curiosity encourages exploration, exploration encourages discovery, discovery encourages pleasure. I started writing software before 9 years, since then I am learning something new everyday. The curiosity in myself helped me to complete my <strong>Ph.D in computer science</strong>.</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Creative</h3>
                        <p>Creativity is a function of knowledge, curiosity, imagination, and evaluation. The greater your knowledge base and level of curiosity, the more ideas, patterns, and combinations you can achieve, which then correlates to creating new and innovative products and services. Creativity helps me to solve complex technical problems with simplicity. </p>
                    </div>
                    <div class="col-md-4">
                        <h3>Passionate</h3>
                        <p>One person with passion is better than forty people merely interested. I am passionate about software development, writing a blog, sharing knowledge and mentoring. I am passionate since I wrote my first code "Hello Word" in <a href="http://en.wikipedia.org/wiki/FoxPro">Foxpro</a>. Tool, Language, Technology change but passion remain undiluted.</p>
                    </div>
                </div>
            </article>

            <article class="curriculum-vitae text-center">
                <a href="http://www.linkedin.com/in/kpbird" class="plusNav"><i class="fa fa-newspaper-o"></i></a>
                <p>Resume</p>
            </article>
        </div>
    </section>
    <section id="skills">
        <header class="text-center">
            <h1>SKILLS</h1>
        </header>
        <div class="divider">
            <!-- lines divider -->
        </div>
        <article id="architecture" class="container service-desc animate_fade_in">
            <div class="row">
                <div class="col-xs-12 col-md-3 text-justify">
                    <h3><i class="yellow fa fa-cogs"></i> Architecture</h3>
                    <ui>
                    	<li>Amazon AWS</li>
                    	<li>Google Cloud</li>
                    	<li>Micro Service</li>
                    	<li>Big Data</li>
                    	<li>Internet of Things (IoT)</li>
                    </ui>
                </div>
                <div class="col-xs-12 col-md-9 text-justify">
                	<p>I have been working on Amazon AWS Cloud computing for many years, I have been involved in architecture design of enterprise projects. I have been involved in software and methodologies which help accelerate application migration to AWS. My past experience helps me to determine what works best on AWS, what can port easily, what needs to be changed, and what migration approach is right for your requirements. I completed range of architecture, delivery and application modernization blueprints and tools to help me develop more effective on AWS. Leverage  best practices, methodologies, design patterns and code frameworks to deliver high performance cloud-native applications quickly, with full support for optimized and scalable cloud models. Recently I am working on architecture where Internet of Things (IoT) and Big Data involve.</p>
                </div>
            </div>
        </article>
        <article id="development" class="container service-desc animate_fade_in">
            <div class="row">
                <div class="col-xs-12 col-md-3 text-justify">
                    <h3><i class="orange fa fa-code"></i> Development</h3>
                    <ui>
                    	<li>Android</li>
                    	<li>Java (SE,ME,EE)</li>
                    	<li>Restlet &amp; Jersey</li>
                    	<li>Apache Solr</li>
                    	<li>Node.js</li>
                    </ui>
                </div>
                <div class="col-xs-12 col-md-9 text-left">
                    <p>I love writing code and I am doing it since 9 years. I started my career writing desktop applications then moved to web application using J2EE (JSP, Servlet, Web Service, Struts, Hibernate, etc) then after I started writing mobile application using J2ME, BlackBerry and Android and then I am working on Cloud Computing (Amazon AWS , Google Cloud Platform). I have worked on all kinds of projects with teams between small to big team on various domains like finance, tender &amp; auction, telecommunication, banking, healthcare, entertainment.</p>
                </div>
            </div>
        </article>
        <article id="consulting" class="container service-desc animate_fade_in">
            <div class="row">
                <div class="col-xs-12 col-md-3 text-justify">
                    <h3><i class="mauve fa fa-male"></i> Consulting</h3>
                    <ui>
                    	<li>Application Migration</li>
                    	<li>Technology Migration</li>
                    	<li>Performance Optimization</li>
                    	<li>Scalability</li>
                    </ui>
                </div>
                <div class="col-xs-12 col-md-9 text-left">
                    <p>I have been involved in consulting to the clients about business, strategies, strategies analysis, tools &amp; technology identification, deployment and releasing strategies. Consulting will help customer to improve business. My experience in various domains and various technologies (Web, Mobile and Cloud) help me to understand client's business and consult in every aspect of development to execution to deployment.</p>
                </div>
            </div>
        </article>
        <article id="Speaker" class="container service-desc animate_fade_in">
            <div class="row">
                <div class="col-xs-12 col-md-3 text-justify">
                    <h3><i class="green fa fa-bullhorn"></i> Sharing</h3>
                    <ui>
                    	<li>Presentation</li>
                    	<li>Blog</li>
                    	<li>Books</li>
                    </ui>                    
                </div>
                <div class="col-xs-12 col-md-9 text-left">
                    <p>As a developer stackoverflow helped in my growth. Attending technology events and blogging provided the right exposure to hone my skills &amp; receive valuable inputs of the community &amp; tech circles. Now I think my time has come to give back to the community. I share my knowledge and experience using blog and public speaking. Recently I have delivered talk at Google Developer Group Ahmedabad and Google Business Group Ahmedabad. Visit <a herf="http://www.slideshare.net/kpbird/">SlideShare</a> for presentation. I also get change to become technical reviewer of two books for Packt Publication (1. <a href="https://www.packtpub.com/application-development/developing-restful-web-services-jersey-20">Developing Restful web service with Jersey 2.0. </a>, 2) Mastering AWS  </p>
                </div>
            </div>
        </article>
    </section>
    
    <section id="contact">
        <div class="container">
            <header class="text-center">
                <h1>CONTACT</h1>
            </header>
            <div class="divider">
            </div>
            <article class="text-center">
                <div class="addthis_toolbox">
                    <a class="addthis_button_linkedin_follow" href="http://www.linkedin.com/in/kpbird">
                        <span class="social fa fa-linkedin"></span>
                    </a>
                    <a class="addthis_button_twitter_follow" href="http://twitter.com/kpbird">
                        <span class="social fa fa-twitter"></span>
                    </a>
                    <a class="addthis_button_google_follow" href="https://plus.google.com/+KetanParmar">
                        <span class="social fa fa-google-plus"></span>
                    </a>
                    <a class="addthis_button_email_follow" href="mail:ketanbparmar@yahoo.com">
                        <span class="social fa fa-envelope-o"></span>
                    </a>
                </div>
            </article>
            <article>
                <p class="text-center big-paragraph">
                    Drop me a line if you have some
                    <strong>
                        <em>feedback</em>
                    </strong>, want to ask a
                    <strong>
                        <em>questions</em>
                    </strong>or just say
                    <strong>
                        <em>Hello</em>
                    </strong>.
                </p>
            </article>
        </div>
    </section>
    <section class="cover" style="background-image:url('assets/images/preview/slider/bottom.png')">
        <span class="overlay"></span>
        <div class="container text-center" data-animation="bounceIn">
            <q>To understand a program, you must become both the machine and the program.</q>
        </div>
    </section>
    <footer>
        <a href="#toTop" class="fa fa-arrow-up toTop"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    kpbird.com
                    <br />2015 &copy; All Rights Reserved.
                </div>
                <div class="col-md-6 text-right">
                    <div class="addthis_toolbox">
                        <a class="addthis_button_linkedin_follow" href="http://www.linkedin.com/in/kpbird">
                            <span class="social fa fa-linkedin"></span>
                        </a>
                        <a class="addthis_button_twitter_follow" href="http://twitter.com/kpbird">
                            <span class="social fa fa-twitter"></span>
                        </a>
                        <a class="addthis_button_google_follow" href="https://plus.google.com/+KetanParmar">
                            <span class="social fa fa-google-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
     <script type="text/javascript">


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3380700-3', 'kpbird.com');
  ga('send', 'pageview');


    </script>
    
    <!-- /FOOTER -->
    <!-- CORE FILES -->
    <script type="text/javascript" src="assets/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- PLUGINS -->
    <script type="text/javascript" src="assets/plugins/jquery-fitvids/jquery.fitvids.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-appear/jquery.appear.js"></script>
    <script type="text/javascript" src="assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/plugins/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.mb.YTPlayer.js"></script>
    <!-- Youtube video background -->
    <!-- js scripts -->
    <script async type="text/javascript" src="assets/js/scripts.js"></script>
    
</body>

</html>
