{% for post in paginator.posts%}
<div class="item">
    <div class="item-title">
        <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
        <a href="{{ post.url }}" class="label label-default light"><i class="fa fa-dot-circle-o"></i> {{ post.categories }}</a>
        <a href="{{ post.url }}#disqus_thread" class="label label-default light">0 Comments</a>
        <span class="label label-default light">{{post.date | date:"%-d %B %Y" }}</span>
    </div>
    
    {% if post.image != '' %}
        <img src="/assets/images/posts/{{ post.image }}" alt="post image" title="post image" class="img-responsive">
    {% endif%}
    <p>{{ post.excerpt }}</p>
    <a href="{{ post.url }}" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
</div>
{% endfor %}
{% if paginator.total_pages > 1%}
<div class="text-center">
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a></li>
        {% else %}
        <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
        {% endif%}
        {% for page in (1..paginator.total_pages) %}
        
        {% if page == paginator.page %}
            <li class="active"><a href="">{{ page }}</a></li>
        {% elsif page ==1 %}
            <li ><a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% else %}
                 <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a></li>
        {% else %}
        <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
    </ul>
</div>
{% endif%}