 <footer>
        <!-- SCROOL TO TOP -->
        <a href="#toTop" class="fa fa-arrow-up toTop"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    kpbird.com
                    <br />2015 &copy; All Rights Reserved.
                </div>
                <div class="col-md-6 text-right">
                    <div class="addthis_toolbox">
                        <a class="addthis_button_linkedin_follow" addthis:userid="kpbird">
                            <span class="social fa fa-linkedin"></span>
                        </a>
                        <a class="addthis_button_twitter_follow" addthis:userid="kpbird">
                            <span class="social fa fa-twitter"></span>
                        </a>
                        <a class="addthis_button_google_follow" addthis:userid="+KetanParmar">
                            <span class="social fa fa-google-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    //  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5308cddf5fd4896a"></script>
    // <script type="text/javascript">
    // addthis.layers({
    //     'theme': 'transparent',
    //     'share': {
    //         'position': 'left',
    //         'numPreferredServices': 5
    //     }
    // });

    // var addthis_share={
    //     url_transforms:{
    //         shorten:{
    //             twitter:'bitly',
    //             facebook:'bitly',
    //             google:'bitly',
    //             linkedin:'bitly'
    //         }
    //     },
    //     shorteners:{
    //         bitly:{}
    //     }
    // };

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3380700-3', 'kpbird.com');
  ga('send', 'pageview');
    </script>
     {% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
    </article>
  {{/entries}}
</script>
{% endraw %}
    <!-- AddThis Smart Layers END -->
<!-- <script type="text/javascript" src="/../assets/plugins/jquery/jquery-1.10.2.min.js"></script> -->
<script type="text/javascript" src="/../assets/js/search.min.js"></script>
<script type="text/javascript" src="/../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/../assets/plugins/jquery-fitvids/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="/../assets/plugins/jquery-appear/jquery.appear.js"></script>
<script type="text/javascript" src="/../assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
<script type="text/javascript" src="/../assets/plugins/jquery-owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/../assets/plugins/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="/../assets/plugins/jquery-countTo/jquery.countTo.js"></script>
<script type="text/javascript" src="/../assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/../assets/plugins/jquery.mb.YTPlayer.js"></script>
<script async type="text/javascript" src="/../assets/js/scripts.js"></script>

<script async type="text/javascript" src="/../assets/js/blog.search.js"></script>


<!-- Change UA-XXXXX-X with your site ID -->
<!--<script>
        window._gaq = [['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'});
</script>  -->